<div class="container home">
    <h1>Welcome to the {{title}}</h1>
    <img class="img-circle form-graphic" src="images/hand_graphic.svg" alt="hand graphic">
    <p>Don't like your fortune?</p>
    <a href="/">
        <button>Try again</button>
    </a>
</div>

