<div class="container q1">
    <h1>Welcome to the {{title}}</h1>
</div>

<form class="form" action="/q2" method="post">

  <img class="img-circle" src="images/hand_graphics.svg" alt="hand graphic">
  
  <label for="breed" class="form-item">
    What is your favourite number:
    <input type="text" name="breed" value="{{answer2}}">
  </label>
  
  
  <input type="submit" name="" value="Submit">
</form>