/* dark: #161d2b */
/* light: #fff1db */
/* orange:#f28c36
blue #292de3 */

body {
    background-color: #161d2b;
    font-family: 'Raleway', serif;
    color:#fff1db;
    background-image: url(./images/bg-stars.svg);
    
  }
  
  .container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }
  
  .wrapper{
    display: flex;
    flex-direction: column;
  }
  
  h1{
    font-weight: 500;
    font-family: 'Rye', cursive;
    text-align: center;
  }
  

 
  .imageWrapper{
    width: 100%;
    max-width: 400px;
  }

  .form-graphic{
    max-width: 200px;
  }
  form{
    display: flex;
    flex-direction: column;
  }

  form input[type=submit],
  a button{
    font-weight: bold;
    background-color: #292de3 ;
    color: white;
    transition: background-color .3s ease-in-out;
  }

  form input[type=submit]:hover,
  a:hover button{
    transition: background-color .3s ease-in-out;
    background-color:#f28c36;
  }
  
  a button{
    padding: 20px;
    min-width: 160px;
  }

  form input[type=submit]{
    margin-top: 6px;
  }



  form label{
    margin-bottom: 20px;
  }

  form input{
    height: 40px;
    padding: 0 30px;
    border:none
  }


